h1 {
    color: blue;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.jumbotron {
    background-image: url("https://s3.amazonaws.com/blockchainproject/blockchain_mini.jpg");
    background-size: cover;
}

.landing-btn {
    width: 300px; !important;

}

