<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">

            <form action="{{ url_for('create_user') }}" method="POST">
                <div class="form-group">
                    <label for="fname">First Name:</label>
                    <input type="text" class="form-control" id="fname" name="fname">
                    <label for="lname">Last Name:</label>
                    <input type="text" class="form-control" id="lname" name="lname">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <label for="add_funds">Add Funds:</label>
                    <input type="number" class="form-control" id="add_funds" name="add_funds">
                    <br>
                    <input type="submit" class="btn btn-success" value="Sign In">
                    <a href="{{ url_for('home', user_id=None) }}" class="btn btn-warning" role="button">Cancel</a>
                </div>
            </form>
        </div>
        <div class="col-xs-2"></div>
    </div>
</body>
</html>