{% extends 'base.html' %}
{% block title %}New Transaction{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h3>Send Funds</h3>
    <p>Current balance: {{ user.balance }}</p>
    <form action="{{ url_for('new_transaction', user_id=user.id) }}" method="post">
        <div class="form-group">
            <label for="recipient">Select Recipient:</label>
            <select class="form-control" id="recipient">
                {% for rec in rec_list %}
                    <option>{{ rec.email }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="amount">Amount:</label>
            <input type="number" class="for-control" id="amount">
            <input type="submit" class="btn btn-success" value="Submit Button">
            <a href="{{ url_for('home', user_id=user.id) }}" class="btn btn-warning" role="button">Cancel</a>
        </div>
    </form>
{% endblock %}