{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <form action="{{ url_for('edit_profile', user_id=user.id) }}" method="post">
        <p>First Name:</p>
        <input type="text" size="80" name="fname" placeholder="{{ user.fname }}">
        <p>Last Name:</p>
        <input type="text" size="80" name="lname" placeholder="{{ user.lname }}">
        <p>Email:</p>
        <input type="text" size="80" name="email" placeholder="{{ user.email }}">
        <p>Password:</p>
        <input type="text" size="80" name="password" placeholder="{{ user.password }}">
    <br><br>
    <input type="submit" value="Edit">
    <a href="{{ url_for('profile', user_id=user_id) }}">Cancel</a>
    </form>
{% endblock %}