{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <form action="{{ url_for('edit_profile', user_id=user.id) }}" method="POST">
        <div class="form-group">
            <label for="fname">First Name:</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="{{ user.fname }}">
            <label for="lname">Last Name:</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="{{ user.lname }}">
            <label for="password">New Password:</label>
            <input type="password" class="form-control" id="password" name="password">
            <br>
            <input type="submit" class="btn btn-success" value="Edit Account">
            <a href="{{ url_for('home', user_id=user.id) }}" class="btn btn-warning" role="button">Cancel</a>
        </div>
    </form>
{% endblock %}