<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

    <form action="{{ url_for('sign_in') }}" method="POST">
        <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" class="form-control" id="email" name="email">
            <br>
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
            <br>
            <input type="submit" class="btn btn-success" value="Sign In">
            <a href="{{ url_for('home', user_id=None) }}" class="btn btn-warning" role="button">Cancel</a>
        </div>
    </form>
        </div>
        <div class="col-xs-2"></div>
        </div>
    </div>
</body>
</html>